div {
	text-align: center;
}

.syky {
	color: #6ba3ff;
	font-size: 24px;
	
}
.shy {
	background-color: #6ba3ff;
	height: 60px;
}
.link{
	color: #6ba3ff;
	font-size: 24px;
}
.register {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;

}
.item {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
    }

 .size{
font-size: 24px;
 }
 .amount{
font-size: 24px;
width:90px;
height: 35px; 	
 }   