.edit{
	font-size: 36px;
}
.size{
	font-size: 24px;
}
.top{
	background-color: #6ba3ff;
	height: 60px;
}
.link{
	color: #6ba3ff;
	font-size: 24px;
}
.item{

color: #6ba3ff;	
font-size: 24px;
}
div {
	text-align: center;
}
.syky {
	color: #6ba3ff;
	font-size: 24px;
	  }
.Update {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;	
}
.amount{
	font-size: 24px;
	width:90px;
	height: 35px;
}