div {
	text-align: center;
}

.syky {
	color: #6ba3ff;
	font-size: 24px;
	position: relative;
}
.shy {
	background-color: #6ba3ff;
	height: 60px;
}
.link{
	color: #6ba3ff;
	font-size: 24px;
}
.register {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;

}
.item {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
    }

 .size{
font-size: 24px;
 }
 .amount{
font-size: 24px;
width:90px;
height: 35px;
min-width:1 ; 	
 }   
 .logout{
 	
    width: 120px;
	height: 40px;
	font-size: 24px;
	padding: ;
	background-color:#71e851;
	color: white;
	border-radius: 5px;
	text-align: center;
    /*position: absolute;*/
     
}
.right{
	  /*margin-left: auto;*/
	  /*width: 120px;*/
	 /*margin-right: 20px*/
	 position: relative;
	 left: 1170px
	 /*top:300px;*/