@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	font-family: 'Open Sans', sans-serif;
	color: #6ba3ff
}
input {
  font-family: 'Open Sans', sans-serif;
}
.header {
	background-color: #6ba3ff;
	height: 60px;
}
.logo {
	margin-left: 10px;
}
.logo p{
	font-weight: 1000;
	color: #2055aa;
	font-size: 25px;
	padding-left: 5px;
}
.tittle {
	text-align: center;
	font-size: 36px;
}
/*p {
	font-size: 20px;
}*/
.subtittle p {
	display: inline-block;
	padding: 30px 60px;
	font-size: 20px;
}
.itemdata p{
	display: inline-block;
	padding: 30px 60px;
	font-size: 20px;
}
.itemname{
	/*margin-left: 70px;*/
}
.amount {
	/*margin-left: 70px;*/
}
.date {
	/*margin-left: 60px; */
}
.register {
	width: 120px;
	height: 50px;
	font-size: 20px;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;
	margin-top: 30px
}
.wrap_register{
	text-align: center;
}
a {
	color: #6ba3ff;
	font-weight: bold;
}
.wrap_link {
	text-align: center;
}
.wrap {
	text-align:center;
	margin-left:auto;margin-right:auto;
	text-align:left;
}