 div {
  text-align: center;
  width: 100%;
}

.top {
	background-color: #6ba3ff;
	height: 60px;
}

p {
	color: #6ba3ff;
}

.login {
	font-size: 36px;
	font-family: 'Open Sans', sans-serif;
}

.link {
	color: #6ba3ff;
	font-size: 24px;
}

.username {
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;  
}

.name {
  font-size: 24px;
}

.pass {
  font-size: 24px;	
}

.password {
  font-size: 24px;
}

.logi {
	width: 120px;
	height: 70px;
	font-size: 20px;
	padding: ;
	background-color: #6ba3ff;
	color: white;
	border-radius: 5px;

}